<section class="flex items-center mb-[300px]">
    <div class="h-full flex-col gap-10 lg:flex-row lg:flex-nowrap lg:flex flex lg:gap-[180px]  justify-center relative items-center max-w-[1273px] ms-[327px] me-auto px-4">
        <!-- <section class="gradient gradient-- gradient-lg"></div> -->
        <article class="text-white z-50">
            <h2 class="text-6xl uppercase font-semibold  mb-[10px]">Más y mejor</h2>
            <span class="uppercase text-6xl font-semibold">Conexión</span>
            <div class="uppercase mt-[18px] text-[#3B96D1] font-medium">
                <span class="w-[479px] h-[101px] leading-[43.47px] text-[30px]">Conectate, cómo quieras, dónde quieras, cuando quieras.</span>
            </div>
            <p class="text-2xl font-normal leading-[34.68px] my-[18px] w-[517px]">
                Asegurate de tener <span class="font-bold">las redes más ágiles y seguras</span> del mercado
            </p>
            <button class="lg:w-[190px]  inline-block me-auto mt-[18px] h-11 bg-[#3b96d1] rounded-[5px] text-white text-xl font-normal font-['Jost']">
                Empezar ahora
            </button>
        </article>        
    </div>
    <img class="min-h-[442px]" src="../../../assets/svgs/network.svg" alt="network">
</section>