<section class="flex items-center justify-center mb-[300px] max-w-[1273px] mx-auto">
    <div class="h-full flex-col gap-10 2xl:flex-row 2xl:flex-nowrap 2xl:flex 2xl:gap-[157px]  2xl:justify-center relative 2xl:items-center 2xl:ml-[327px] 2xl:me-auto px-4">
        <!-- <section class="gradient gradient-- gradient-lg"></div> -->
        <article class="text-white z-50">
            <h2 class="text-6xl uppercase font-semibold mb-[10px]">Más y mejor</h2>
            <span class="uppercase text-6xl font-semibold">Conexión</span>
            <div class="uppercase mt-[18px] text-[#3B96D1] font-medium">
                <span class="w-[479px] h-[101px] leading-[43.47px] text-[30px]">Conectate, cómo quieras, dónde quieras, cuando quieras.</span>
            </div>
            <p class="text-2xl font-normal leading-[34.68px] my-[18px] lg:w-[517px]">
                Asegurate de tener <span class="font-bold">las redes más ágiles y seguras</span> del mercado
            </p>
            <button class="lg:w-[190px]  inline-block me-auto mt-[18px] h-11 bg-[#3b96d1] rounded-[5px] text-white text-xl font-normal font-['Jost']">
                Empezar ahora
            </button>
        </article>
        <img class="overflow-visible hidden 2xl:block" src="../../../assets/svgs/network.svg" alt="network">
    </div>
</section>