<section class="h-full flex gap-[180px] mt-[200px] mb-[300px] justify-center relative items-center max-w-[1273px] mx-auto px-4">
    <div class="gradient gradient-- gradient-lg"></div>
    <article class="text-white z-50">
        <h1 class="text-6xl uppercase font-semibold">Marketing Y</h1>
        <span class="uppercase text-4xl font-semibold">Branding</span>
        <div class="text-4xl uppercase text-[#3B96D1] font-medium">
            <span>Marcas</span>
            <p>Fuertes y conectadas</p>
        </div>
        <p class="text-2xl mt-[7px] font-normal leading-[34.68px] max-w-[519px]">
            <span class="font-bold">Renova la identidad de tu marca</span>
            y crea conexiones reales con tus clientes
            <span class="font-bold">a través del marketing</span>
        </p>
        <button class="lg:w-[190px] mt-[25px] inline-block me-auto h-11 bg-[#3b96d1] rounded-[5px] text-white text-xl font-normal font-['Jost']">
            Empezar ahora
          </button>
    </article>
    <article class="flex relative ">
        <img class="h-[355px] rounded-[15px] relative" src="../../../assets/images/aluplast.png">
        <img class="h-[355px] rounded-[15px] relative top-[170px] right-[62px]  z-10" src="../../../assets/images/aeropuerto.png">
        <img class="h-[355px] rounded-[15px] relative top-[-20px] right-40 z-20 bg-[#111621]" src="../../../assets/images/panorama.png">
    </article>
</section>