<section class="h-full flex-col mt-[140px] sm:mt-[180px] gap-10 lg:flex-row lg:flex-nowrap lg:flex flex lg:gap-[180px]  mb-[300px] justify-center relative items-center max-w-[1273px] mx-auto px-4">
    <div class="hidden xl:block xl:absolute">
        <div class="gradient--t top-[-545px] right-[-304px]"></div>
    </div>
    <div class="hidden xl:block xl:absolute">
        <div class="gradient--t top-[-645px] left-[345px]"></div>
    </div>
    <div class="hidden xl:block xl:absolute">
        <div class="gradient--r top-[-645px] left-[345px]"></div>
    </div>
    <article class="text-white z-50 w-full ml-6 sm:w-auto">
        <h1 class=" sm:text-6xl text-[30px] uppercase font-semibold">Marketing Y</h1>
        <span class="uppercase text-[30px] sm:text-4xl font-semibold">Branding</span>
        <div class="text-[20px] sm:text-4xl uppercase text-[#3B96D1] font-medium">
            <span>Marcas</span>
            <p>Fuertes y conectadas</p>
        </div>
        <p class="text-[12px] sm:text-2xl mt-[7px] font-normal sm:leading-[34.68px] max-w-[224px] sm:max-w-[519px] leading-[17.34px]">
            <span class="font-bold">Renova la identidad de tu marca</span>
            y crea conexiones reales con tus clientes
            <span class="font-bold">a través del marketing</span>
        </p>
        <button (click)="navService.scrollTo('contact')" class=" px-[31px] text-xs py-[7px] md:py-0 md:text-xl  sm:text-[20px] sm:w-[190px] sm:block mt-[25px] me-auto h-11 bg-[#3b96d1] rounded-[5px] text-white sm:text-xl font-normal font-['Jost']">
            Empezar ahora
        </button>
    </article>
    <article class="lg:flex relative">
        <img class="h-[200px] md:h-[300px] xl:h-[355px] rounded-[15px] relative card" src="./images/aluplast.png">
        <img class="h-[200px] md:h-[300px] xl:h-[355px] rounded-[15px] absolute lg:relative top-[120px] right-[40%] lg:top-[170px] lg:right-[62px]  z-10 card" src="./images/aeropuerto.png">
        <img class="h-[200px] md:h-[300px] xl:h-[355px] rounded-[15px] absolute lg:relative top-52 right-[-50px] lg:top-[-20px] lg:right-40 z-20 bg-[#111621] card" src="./images/panorama.png">
    </article>
    
</section>