.gradient--t {
    height: 845px;
    width: 1200px;
    background-image: radial-gradient(closest-side, #ffffff18, #091c2c00);
    position: absolute;
    z-index: -1;
}

.gradient--r {
    height: 845px;
    width: 1200px;
    background-image: radial-gradient(closest-side, #ffffff18, #091c2c00);
    position: absolute;
    z-index: -1;
}