<section class="justify-center xl:flex flex-col items-center hidden ">
  <h5 class="text-white  text-[40px] font-normal font-['Jost']">¿POR QUÉ SOMOS LA MEJOR OPCION?</h5>

  <div class="flex justify-center w-[825px] relative">
    
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white text-[35px] font-medium font-['Jost']">
      TE <br /> OFRECEMOS
    </div>

    <div class="absolute top-[20px] left-[51%] translate-x-[-50%] text-center flex flex-col-reverse gap-[25px] text-white text-[25px] font-semibold font-['Jost']">
      <img src="./images/fingerprint.png" alt="" class="mx-auto ">
      <span>Autenticidad para<br />tu identidad digital</span>
    </div>

    <div class="absolute bottom-[-0px] left-[51.5%] translate-x-[-50%] text-center flex flex-col gap-[25px] text-white text-[25px] font-semibold font-['Jost']">
      <img src="./images/lightbulb.png" alt="" class="mx-auto ">
      <span>Metodologías innovadoras<br />para cumplir tus expectativas</span>
    </div>

    <div class="absolute top-[48%] left-[-85px] translate-y-[-50%] items-center flex gap-[25px] flex-row-reverse text-center text-white text-[25px] font-semibold font-['Jost']">
      <img src="./images/clock.svg" alt="" class="mx-auto  ">
      <span>Tiempo récord de<br />entregas y resultados</span>
    </div>

    <div class="absolute top-[49%] right-[-135px] translate-y-[-50%] items-center flex gap-[25px] text-center text-white text-[25px] font-semibold font-['Jost']">
      <img src="./images/location.svg" alt="" class="mx-auto   ">
      <span>Visualización en tiempo<br /> real <br />de todos los movimientos</span>
    </div>

    <img class="w-full" src="./images/circle.png" />
  </div>
</section>

<section class="relative bg-image-best-option bg-no-repeat bg-center justify-center flex flex-col items-center xl:hidden ">
  <div class="flex flex-col justify-center text-center mb-5">
    <h5 class="text-white text-[15px] md:text-xl font-semibold">¿POR QUÉ SOMOS LA MEJOR OPCIÓN?</h5>
    <p class="text-white text-[15px] md:text-xl">TE OFRECEMOS</p>
  </div>
  <ul class="flex flex-col items-center gap-[5px]">
    @for (item of items; track $index) {
      <li class="flex items-center gap-2 pb-[5px] border-b border-gradient text-[13px] md:text-[18px] text-white">
        <img src="./svgs/Arrow 11.svg" alt="arrow l">
          {{item}}
        <img class="rotate-180" src="./svgs/Arrow 11.svg" alt="arrow e">
      </li>
    }
  </ul>
  
</section>