<div class="mt-[83px] py-[78px] flex flex-col gap-[100px] text-2xl">

  <section class="text-white px-7">
    <div class="max-w-[1520px] w-full m-auto flex items-center gap-10">

      <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-5">
          <h2 class="text-[30px] font-medium">QUIÉNES SÓMOS</h2>
          <p>
            DSN Empresas nace en el año 2006, fruto de la visión conjunta de dos hermanos con vocación emprendedora: el Dr. Juan
            Andrés Dotti y el Ing. Ricardo Marcos Dotti. Lo que comenzó como un emprendimiento familiar para formalizar una
            creciente cartera de clientes en el sector PyME, se consolidó rápidamente como una empresa tecnológica con perfil
            innovador. El primer gran paso fue la creación de un software de gestión comercial que, con el tiempo, se transformaría
            en un producto ERP para pequeñas empresas.
          </p>
        </div>
        <div class="flex flex-col gap-5">
          <h2 class="text-[30px] font-medium">NUESTRA HISTORIA</h2>
          <p>
            Desde sus inicios, la visión de DSN Empresas fue clara: construir una compañía referente en soluciones tecnológicas, con
            foco en la innovación, los proyectos de alta exigencia, y una cultura orientada a la calidad, la seguridad informática y
            la confiabilidad de los sistemas. La misión siempre fue acompañar la transformación digital de empresas e instituciones
            mediante desarrollos robustos, escalables y alineados con los más altos estándares internacionales.
          </p>
        </div>
      </div>

      <div class="w-full hidden lg:block">
        <img src="svgs/about-us-1.svg" alt="" class="min-w-[400px]">
      </div>

    </div>
  </section>

  <section class="text-white text-center flex flex-col gap-5 px-7">
    <h2 class="flex items-center justify-center gap-3">
      <fa-icon class="text-5xl text-[#3B96D1]" [icon]="faLaptopCode"></fa-icon>
      <span class="text-[30px] font-medium">CATÁLOGO DIGITAL E INTEGRACIÓN ERP</span>
      <fa-icon class="text-5xl text-[#3B96D1]" [icon]="faLaptopCode"></fa-icon>
    </h2>
    <p class="max-w-[980px] w-full mx-auto text-pretty">
      producto de Catálogo Digital y Futuro ERP, con integración nativa a plataformas de e-commerce y conexión a ERPs
      reconocidos como Flexus y Finnegans, pensado para facilitar la transformación digital de PyMEs y grandes industrias.
    </p>
  </section>
  
  <section class="bg-[#1B4D71] py-14 px-7 text-center flex flex-col gap-5 text-white">
    <h2 class="text-[30px] font-medium leading-none">PRIMEROS PASOS Y RUBROS INICIALES</h2>
    <p class="max-w-[980px] w-full mx-auto">
      En sus primeros años, DSN Empresas concentró sus esfuerzos en el desarrollo de herramientas de gestión comercial
      pensadas para mejorar los procesos administrativos de pequeñas empresas. La evolución natural de estos desarrollos llevó
      a la construcción de una suite completa de soluciones ERP, y con ello, a una ampliación de su portfolio y la
      profesionalización de su estructura operativa.
    </p>
  </section>


  <section class="text-white flex flex-col text-center max-w-[980px] px-7 mx-auto">
    <h2 class="text-[30px] font-medium mb-5">LA ACTUALIDAD</h2>
    <span>Expansión, liderazgo y nuevos desafíos</span>
    <p>
      Hoy, DSN Empresas es una consultora tecnológica integral con una sólida base operativa, un equipo multidisciplinario y
      una red de proyectos de alta complejidad en marcha. La compañía lidera soluciones en infraestructura tecnológica,
      desarrollo de software, integración de datos, conectividad, inteligencia de negocios, marketing digital, branding e
      implementación de sistemas de seguridad informática de última generación.
    </p>
    <details class="flex flex-col">
      <summary class="hover:text-[#3B96D1] group cursor-pointer my-5 mx-auto flex flex-col">
        <span class="duration-200" id="ver-mas">Ver más</span>
        <span class="duration-200 hidden" id="ver-menos">Ver menos</span>
        <fa-icon class="text-[#125486] group-hover:text-[#3B96D1] duration-200" [icon]="faChevronDown"></fa-icon>
      </summary>
      <div class="flex flex-col gap-5 text-start">
        <p>
          Actualmente, sus servicios abarcan desarrollos a medida, implementación de redes estructuradas, sistemas de control de
          accesos, centros de monitoreo, proyectos de megafonía y CCTV, así como soluciones completas en cloud computing,
          ciberseguridad, datacenters y plataformas web e interactivas para organismos públicos y privados.
        </p>
        <p>
          Grandes proyectos y expansión internacional
          Entre los hitos recientes más destacados se encuentra la ejecución integral del sistema tecnológico del Aeropuerto
          Internacional Comodoro Pierrestegui de Concordia, incluyendo la instalación del datacenter, sistemas de megafonía con
          protocolo Dante, cableado de fibra óptica, CCTV, control de accesos y estaciones de trabajo para organismos como la PSA,
          ANAC y EANA.
        </p>
        <p>
          Actualmente, DSN Empresas lleva adelante la modernización tecnológica del Paso de Frontera Concordia - Salto, una obra
          de infraestructura crítica que integrará tecnología de frontera, conectividad con RENAPER e Interpol, cámaras de alta
          definición, sistemas biométricos y software desarrollado a medida con altos estándares de seguridad internacional.
        </p>
      </div>
    </details>
  </section>

  <section class="text-white px-7">
    
    <div class="max-w-[1520px] w-full m-auto flex flex-col gap-5">
      <h2 class="text-[30px] font-medium">UN FUTURO GLOBAL</h2>
      <p>
        DSN Empresas se encuentra actualmente en proceso de internacionalización, proyectando su ingreso a mercados como Europa
        y Estados Unidos. Su modelo de trabajo ágil, su portfolio en constante evolución y su cultura de mejora continua la
        posicionan como una empresa argentina con proyección global.
      </p>
      <p>
        En DSN Empresas, seguimos apostando al desarrollo de soluciones que transforman, con el compromiso de brindar tecnología
        confiable, segura y alineada a los desafíos de un mundo cada vez más interconectado.
      </p>
    </div>
  </section>

  <section class="text-white px-7">
    <div class="max-w-[1520px] w-full m-auto flex items-center gap-10">
  
      <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-5">
          <h2 class="text-[30px] font-medium">UN FUTURO GLOBAL</h2>
          <p>
            DSN Empresas se encuentra actualmente en proceso de internacionalización, proyectando su ingreso a mercados como Europa
            y Estados Unidos. Su modelo de trabajo ágil, su portfolio en constante evolución y su cultura de mejora continua la
            posicionan como una empresa argentina con proyección global.
          </p>
          <p>
            En DSN Empresas, seguimos apostando al desarrollo de soluciones que transforman, con el compromiso de brindar tecnología
            confiable, segura y alineada a los desafíos de un mundo cada vez más interconectado.
          </p>
        </div>
      </div>
  
      <div class="w-full hidden lg:block">
        <img src="svgs/about-us-2.svg" alt="" class="min-w-[400px]">
      </div>
  
    </div>
  </section>
    
  <app-contact></app-contact>
</div>