@keyframes rise {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(-10%);
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .scroll-animation {
    animation: rise ease-in-out both;
    animation-timeline: scroll();  
    animation-range: 0 450px;
  }
}


.gradient-digital-vision {
  background: linear-gradient(270deg, 
    hsla(206, 76%, 7%, 0) 0%, 
    hsla(206, 76%, 12%, 0.18) 18%, 
    hsla(206, 76%, 18%, 0.3) 30%, 
    hsla(206, 76%, 22%, 0.42) 42%, 
    hsla(206, 76%, 30%, 0.6) 60%
  );
}


@media (min-width: 1280px) {
  .gradient-digital-vision {
    background: linear-gradient(0deg, 
      hsla(206, 76%, 7%, 0) 0%, 
      hsla(206, 76%, 12%, 0.18) 18%, 
      hsla(206, 76%, 18%, 0.3) 30%, 
      hsla(206, 76%, 22%, 0.42) 42%, 
      hsla(206, 76%, 30%, 0.6) 60%
    );
  }
}

@keyframes animateTopGradient {
  0% {
    position: absolute;
    top: 212px;
    right: -50px;
  }
  100% {
    position: absolute;
    right: 150px;
  }
}
@keyframes animateRightGradient {
  0% {
    position: absolute;
    top: -592px;
  }
  100% {
    position: absolute;
    top: -650px;
    right: -500px;
  }
}
@keyframes animateGradient {
  0% {
    position: absolute;
    top: -736px;
  }
  100% {
    position: absolute;
    top: -536px;
    left: 800px;
  }
}
.gradient {
  height: 705px;
  width: 905px;
  background-image: radial-gradient(closest-side, #ffffff18, #091c2c00);
  position: absolute;
  z-index: -1;
  animation: animateGradient 5s infinite alternate-reverse;
}

.gradient--r {
  height: 845px;
  width: 1200px;
  background-image: radial-gradient(closest-side, #2d5b983f, #091c2c00);
  position: absolute;
  z-index: -1;
  animation: animateRightGradient 5s infinite alternate-reverse;
}

.gradient--b {
  height: 900px;
  width: 900px;
  background-image: radial-gradient(closest-side, #2d5b983f, #091c2c00);
  position: absolute;
  z-index: -1;
  animation: animateTopGradient 5s infinite alternate-reverse;

}