<footer class="max-w-[1273px]  w-full mx-auto px-1">
  <div class="flex flex-row md:flex-col gap-[33px] justify-center ">
    <div class=" flex flex-col md:flex-row px-2 md:justify-between font-['Jost']">
      <div class="flex flex-col md:gap-[14px]">
        <p class="text-white text-xs md:text-xl font-medium tracking-wide">Primero de Mayo 149</p>
        <span class="text-white text-xs md:text-xl font-light font-['Jost'] tracking-wide">Entre Rios, concordia</span>
      </div>
      <div class="flex flex-col md:gap-[14px] md:text-right text-white text-xs md:text-xl tracking-wide">
        <p class=" font-medium ">Mailejemplo&#64;gmail.com</p>
        <span class=" font-light ">+54 1234567</span>
      </div>
    </div>
    <div class="flex justify-center mt-2">
      <div class="grid grid-cols-2 md:flex gap-[10px] md:gap-9">
        @for (item of socialMediaItems; track $index) {
          <a [href]="item.link" target="_blank" rel="noopener noreferrer" class="max-w-[30px] max-h-[30px] md:max-w-[50px] md:max-h-[50px] justify-center items-center inline-flex" >
              <img  class="" [src]="item.icon" [alt]="item.name" />
          </a>
        }
      </div>
    </div>
  </div>
  <div class="flex  items-center w-full mt-[37px] overflow-hidden mb-[28] justify-center text-white">

      <img class="rotate-180" src="./images/Arrow 2.png" alt="arrow">
      <h6 class="text-xs md:text-xl flex mx-[127px] font-medium font-['Jost'] tracking-widest uppercase">dsn empresas</h6>
      <img  src="./images/Arrow 2.png" alt="arrow">

  </div>
  <div class="text-center mt-[28px] pb-[38px] font-light text-white text-[10px] md:text-[15px] tracking-wide">
    <p class="tracking-wide">
      &copy; 2024
      <a href="https://dsnempresas.com.ar" target="_blank" rel="noopener noreferrer" class="hover:underline hover:text-gray-300">
        TODOS LOS DERECHOS RESERVADOS
      </a>
    </p>
  </div>
  
</footer>